<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Weather APP</title>
    <link rel="shortcut icon" href="/img/weather.png" />
    <link rel="stylesheet" href="/css/styles.css" />
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p> Use this site to get your weather!</p>
        <form>
            <label>Enter the city name:</label>
            <input type="text" placeholder="Location..">
            <button>Submit</button>
        </form>
        <p id="error-message"></p>
        <p id="weatherDesc"></p>
    </div>
    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>